<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User</title>
	<meta charset="utf-8">
</head>
<body>
    <div>
	<nav>
	<a th:href="@{/api/countries}"><button type="button">Back</button></a>
	</nav>
	<form action="#" th:action="@{/api/countries/save}" th:object="${country}" method="POST">
            <div>
		<input type="hidden" th:field="*{id}" />
                    <div>
			Country <input type="text" th:field="*{countryname}">
                    </div>
                    <div>
			Capital <input type="text" th:field="*{capital}">
                    </div>
            </div>
            <div>
		<button type="submit">Save</button>
		<a th:href="@{/api/countries}">Cancel</a>
            </div>
	</form>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</body>

</html>